<h3>Abilities</h3>

@foreach (var ability in characterAbilities)
{
    <CypherBot.Blazor.Client.Components.Character.CharacterAbilities characterAbility="ability"></CypherBot.Blazor.Client.Components.Character.CharacterAbilities>
}

@code {
    [Parameter]
    public List<CypherBot.Core.Models.CharacterAbility> characterAbilities { get; set; }
}
