<h3>Recovery Rolls</h3>

<div style="display:flex; justify-content: space-between; ">
    @foreach (var roll in characterRecoveryRolls.OrderBy(x => x.RecoveryRollId))
    {
        Console.WriteLine("Recovery Roll");
        <div style="text-align:center;">
            @roll.RollName
            <div style="width: 100%; display: block;">
                <input type="checkbox" @bind="roll.IsUsed" />
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<CypherBot.Core.Models.CharacterRecoveryRoll> characterRecoveryRolls { get; set; }
}
