<h3>Cyphers</h3>

@foreach (var cypher in characterCyphers)
{
    <CypherBot.Blazor.Client.Components.Character.CharacterCypher Cypher="cypher"></CypherBot.Blazor.Client.Components.Character.CharacterCypher>
}

@code {
    [Parameter]
    public List<CypherBot.Core.Models.CharacterCypher> characterCyphers { get; set; }

    private bool isHidden = false;
}
