<h3>Artifacts</h3>

@foreach (var artifact in characterArtifacts)
{
    <CypherBot.Blazor.Client.Components.Character.CypherCharacterArtifact Artifact="artifact"></CypherBot.Blazor.Client.Components.Character.CypherCharacterArtifact>
}

@code {
    [Parameter]
    public List<CypherBot.Core.Models.CharacterArtifact> characterArtifacts { get; set; }

    private bool isHidden = false;
}
