@page "/character"
@page "/character/{id:int}"
@using System.Net.Http
@inject HttpClient Http

<h3>Character</h3>

@if (character == null)
{
    <span>Loading</span>
}
else
{
    <button @onclick="SaveCharacter">Save</button>
    <input @bind="character.Name" />


    <CypherBot.Blazor.Client.Components.Character.CharacterPool characterPools="character.Pools"></CypherBot.Blazor.Client.Components.Character.CharacterPool>

    <CypherBot.Blazor.Client.Components.Character.CharacterInventory inventories="character.Inventory" characterId="character.CharacterId"></CypherBot.Blazor.Client.Components.Character.CharacterInventory>

    <CypherBot.Blazor.Client.Components.Character.CharacterCypherList characterCyphers="character.Cyphers"></CypherBot.Blazor.Client.Components.Character.CharacterCypherList>

    <CypherBot.Blazor.Client.Components.Character.CypherCharacterArtifactList characterArtifacts="character.Artifacts"></CypherBot.Blazor.Client.Components.Character.CypherCharacterArtifactList>




}


@code {
    [Parameter]
    public int id { get; set; } = 0;

    private CypherBot.Core.Models.Character character;

    protected override async Task OnInitializedAsync()
    {
        if (id == 0)
        {
            character = new Core.Models.Character();
            character.Name = "New Character";
            character.Player = "herrozerro2535";
        }
        else
        {
            Console.WriteLine("Got here");
            try
            {
                character = await Http.GetFromJsonAsync<CypherBot.Core.Models.Character>($"api/Character/Character/{id}");
            }
            catch (Exception)
            {
            }

        }

        //await Http.PutAsJsonAsync<CypherBot.Core.Models.Character>("api/Character/Character/1", character);
        //character = new Core.Models.Character();
        //character.Name = "Mobbert";

        //await Http.PostAsJsonAsync<CypherBot.Core.Models.Character>("api/Character/Character", character);
    }

    private async Task SaveCharacter()
    {
        await Http.PutAsJsonAsync<CypherBot.Core.Models.Character>($"api/Character/Character/{id}", character);
    }
}
