@page "/creature"
@page "/creature/{id:int}"
@using System.Net.Http
@inject HttpClient Http
@attribute [Authorize]

<h3>Creature</h3>

@if (creature == null)
{
    <span>Loading</span>
}
else
{
    <button @onclick="SaveCreature">Save</button>
    <div>
        <label>
            Name:
            <input @bind="creature.Name" />
        </label>
    </div>
    <div>
        <label>
            Level:
            <input @bind="creature.Level" />
        </label>
    </div>
    <div>
        <label>
            Motive:
            <input @bind="creature.Motive" />
        </label>
    </div>
    <div>
        <label>
            Environment:
            <input @bind="creature.Environment" />
        </label>
    </div>
    <div>
        <label>
            Health:
            <input @bind="creature.Health" />
        </label>
    </div>
    <div>
        <label>
            Damage Inflicted:
            <input @bind="creature.DamageInflicted" />
        </label>
    </div>
    <div>
        <label>
            Armor:
            <input @bind="creature.Armor" />
        </label>
    </div>
    <div>
        <label>
            Movement:
            <input @bind="creature.Movement" />
        </label>
    </div>
    <div>
        <label>
            Modifications:
            <input @bind="creature.Modifications" />
        </label>
    </div>
    <div>
        <label>
            Combat:
            <input @bind="creature.Combat" />
        </label>
    </div>
    <div>
        <label>
            Interaction:
            <input @bind="creature.Interaction" />
        </label>
    </div>
    <div>
        <label>
            Use:
            <input @bind="creature.Use" />
        </label>
    </div>
    <div>
        <label>
            GM Intrusions:
            <input @bind="creature.GMIntrusions" />
        </label>
    </div>
}


@code {
    [Parameter]
    public int id { get; set; } = 0;

    private CypherBot.Core.Models.Creature creature;

    protected override async Task OnInitializedAsync()
    {
        if (id == 0)
        {
            creature = new Core.Models.Creature();
            creature.Name = "New Character";
        }
        else
        {
            Console.WriteLine("Got here");
            try
            {
                creature = await Http.GetFromJsonAsync<CypherBot.Core.Models.Creature>($"api/Creatures/{id}");
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }

        }
    }

    private async Task SaveCreature()
    {
        if (creature.CreatureId == 0)
        {
            var newCreature = await Http.PostAsJsonAsync<CypherBot.Core.Models.Creature>($"api/Creatures", creature);
            creature.CreatureId = Newtonsoft.Json.JsonConvert.DeserializeObject<CypherBot.Core.Models.Creature>(await newCreature.Content.ReadAsStringAsync()).CreatureId;
        }
        else
        {
            await Http.PutAsJsonAsync<CypherBot.Core.Models.Creature>($"api/Creatures/{id}", creature);
        }

    }
}
